*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
  list-style: none;
}

nav{
  background-color: #ED431D;
  box-shadow: 3px 3px 5px rgb(196, 196, 196);
  display: flex;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  color: white;
}

.internal-links{
  justify-content: flex-end;
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.internal-h1{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-start;
}

nav a:hover{
  background-color: #e9ecf533;
}


.intro{
  display: flex;
  flex-direction: column;
  margin: 45px 45px
  ;
}

.intro img{
 width: 300px;
 display: flex;
}

.external-links{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.external-links li{
  background-color:#ED431D;
  border: 3px solid #ED431D;
  border-radius: 40px;
  width: 85px;
  height: 30px;
}

.external-links a{
  text-decoration: none;
  color:white;
}

.stats{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 3px 45px
}

span{
  color: #ED431D;
  font-weight: 700;
  text-align: start;

}

main .projects{
  display: flex;
  width: 100%;
  height: auto;
}

.projects{
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  
}

.projects img{
  width: 30%;
  height: auto;
  display: flex;
}

.projects img span{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

section span{
  display: flex;
  align-items: flex-start;
}

.about-main img{
  width: 100%;
  margin: 10px px;
  object-fit: scale-down;
}

